:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #86bcc0;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Entry section */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Titles */
.main-title {
    font-size: 64px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: 'Inter', serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Entry containers and buttons */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Text styles */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: 'Merriweather', serif;
}

/* Button styles */
button {
    padding: 15px 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 25px;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Lists */
ul {
    list-style: none;
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 20px 0;
    min-height: 250px;
    column-gap: 8px;
    align-items: center;
}

li {
    break-inside: avoid;
}

#warning {
    display: none;
    font-family: 'Inter', sans-serif;
    align-items: center;
    text-align: center;
    background-color:#f5a78b;
    color: #9b2a2a;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    width: 650px;
    min-height: 96px;
    border-radius: 8px;
}

.friend-item {
    margin-bottom: 8px;
    background-color: #C4C4C4;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    min-width: 300px;
    min-height: 30px;
}

.two-columns {
    column-count: 2;
}

.draw-result {
    display: none;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    background-color:#60b160;
    color: #fff;
    min-width: 350px;
    min-height: 96px;
    border-radius: 8px;
}

/* Draw button title */
.draw-button {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 32px;
    font-size: 24px;
}

.draw-button img {
    margin-right: 40px;
}
